.gallery-card {
    width: 100%;
    margin: 5px 0px;
    cursor: pointer; 
  }
  .mat-card-image{
      height: 150px;
      margin-bottom: -24px !important;
  }
  .margin10{
    margin: 10px 0px;
  }
  .mat-fab-custom{
    background-color:#FD7042;
    color:white;
  }
  .smalltext{
      font-size: 10px;
      font-weight: normal;
  }
  .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
    margin: 2px 0px -10px 0px !important;
  }
.rightContainer
{
    min-height: calc(100vh - 75px);
    max-height: calc(100vh);
    overflow-y: scroll;
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.heightfixed600{
    height: 600px;
    position: relative;
}

.arrowsl{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: hsla(10, 10%, 85%, 1);
    cursor: pointer;
    margin: auto;
    /* vertically center */
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.arrowsr{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: hsla(10, 10%, 85%, 1);
    cursor: pointer;
    margin: auto;
    /* vertically center */
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.arrowsl i{
display: block;
margin: 10px 13px;
}
.arrowsr i{
    display: block;
    margin: 10px 11px;
}
@media (max-width: 599px){
    .mat-card-image {
        width: calc(100% + 48px);
    }
}

@media (max-width: 599px){
.rightContainer
{
        min-height: calc(100vh - 75px);
        max-height: calc(100vh);
        overflow-y: scroll;
}
}

@media (min-width: 992px){
    .rightContainer
    {
            min-height: calc(100vmin - 75px);
            max-height: calc(100vmin);
            overflow-y: scroll;
    }
}