<div class="container-fluid ">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-xs-3 col-md-1 col-lg-1">
        <div class="arrowsl {{disableBackArrow ? 'disabledarrow' : ''}} arrow-top-100 arrow-relative hidden-md hidden-lg" (click)="loadPreviousImage();" matTooltip="Previous Image Set">
          <i class="material-icons">arrow_back_ios</i>
        </div>
      </div>
      <div class="col-sm-6 col-xs-6 col-md-10 col-lg-10">
        <span class="">
          <h4 class="">Image Carousel</h4>
          <br/>
        </span>
      </div>
      <div class="col-sm-3 col-xs-3 col-md-1 col-lg-1">
        <div class="arrowsr {{disableForwardArrow ? 'disabledarrow' : ''}} arrow-top-100 hidden-md hidden-lg" (click)="loadNextImage();" matTooltip="Next Image Set">
          <i class="material-icons">arrow_forward_ios</i>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1 col-lg-1 hidden-sm hidden-xs heightfixed600">
            <div class="arrowsl {{disableBackArrow ? 'disabledarrow' : ''}}" (click)="loadPreviousImage();" matTooltip="Previous Image Set">
              <i class="material-icons">arrow_back_ios</i>
            </div>
          </div>
          <div class="col-md-10 rightContainer">
            <div class="loading-indicator">
              <mat-spinner *ngIf="showLoading" mode="indeterminate"></mat-spinner>
            </div>
            <div class="row">
              <div class="col-md-3" *ngFor="let imageData of activeDataSource">
                <mat-card class="gallery-card" *ngFor="let image of imageData.images" (click)="openViewDialog(image)">
                  <img mat-card-image src="{{image}}" alt="Image">
                  <mat-card-actions>
                      <h6 class="blocktitle">{{imageData.title}}</h6>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><br /><br /><br /><br /></div>
            </div>
          </div>
          <div class="col-md-1 col-lg-1 hidden-sm hidden-xs heightfixed600">
            <div class="arrowsr {{disableForwardArrow ? 'disabledarrow' : ''}}" (click)="loadNextImage();" matTooltip="Next Image Set">
              <i class="material-icons">arrow_forward_ios</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>